.indexLeftBox{height:100%;width:100%;}
.ind_lefone{width:100%;height:30%;box-sizing: border-box;position:relative;}
.ind_leftow{width:100%;height:70%;box-sizing: border-box;position:relative;}
.ind_lefTitle{position:absolute;z-index:1;left:0;top:0;font-size:18px;border-bottom:2px solid #00CCFF;width:100%;line-height:28px;}
.ind_lefRegion{height:100%;width:100%;padding:4% 9% 1% 9%;}
.ind_lefRegion li{height:40px;line-height:40px;width:100%;text-align:center;border-radius:8px;margin:10px 0px;cursor:pointer;
background-image: url(../../images/btn2.png);background-size:100% 100%;background-repeat:no-repeat;
}
.indSlelctNav{background-image: url(../../images/btn3.png)!important;}
.ind_lefRegion li:hover{background-color:#0c194d;}
.lineChartParent{padding:5px;width:100%;height:50%;position:relative;}
.Ind_leftSelectput{height:40px;position:absolute;z-index:1;left:0px;top:0px;right:0px;padding:5px 10px 5px 10px; background-image:url(../../images/line2.png);background-size:100% 100%;background-repeat:no-repeat;}
.ind_lefChart{padding:45px 10px 10px 0px;height:100%;width:100%;}
.ind_lin1{position:absolute;z-index:10;width:95%;height:auto;right:0px;top:0px;}
.ind_lin2{position:absolute;z-index:10;width:95%;height:auto;right:0px;top:0px;}
.noData{position:absolute;z-index:50;left:0;top:0;width:100%;height:100%;overflow:hidden;display:flex;justify-content:center;align-items:center;}
.noData img{width:80px;height:auto;}

.ind_editSelect .el-input__inner{width:100%!important;height:30px!important;line-height:30px!important; border:0px solid #0c9ec5!important;border-radius:0px!important;background-color:rgba(0,0,0,0)!important;color:#FFFFFF!important;}
.ind_editSelect .el-input__icon{line-height:30px!important;}
.ind_editSelect .el-select__tags{max-width:100%!important;}
.ind_editSelect .el-select{width:100%;}
.ind_editSelect .el-cascader{line-height:30px!important;width:100%;}
