.sys_left{position:fixed;z-index:10;left:0;top:70px;bottom:0;width:240px;background-color:#FFFFFF;padding:20px 0px;}
.sys_leftNav{width:100%;}
.sys_leftNav li{padding:0px 20px;min-height:40px;line-height:40px;cursor:pointer;}
.sys_leftNavSelect{background-color:#bcf5f1!important;color:#239CAF!important;}
.sys_alaTable{overflow-y:auto;}
.sys_alaEditLi{position:absolute;z-index:1;width:70px;left:0;top:0;line-height:30px;text-align: left;font-size:12px;}