.h_equip-fence{height:100%;width:100%;background: url("../images/bk.png") no-repeat center center ;background-size: 100% 100%;display:flex;flex-wrap:nowrap;padding-top:10px;box-sizing: border-box;}
.h_history-left{width: 20%;padding:1px 46px 60px 2px;background: url("../images/leftBk.png") no-repeat;background-size: 100% 100%;position:relative;}
.h_history-left ul{width:auto;height:auto;padding:25px 0;margin-left:2px;}
.h_history-left ul li{display:flex;flex-wrap:wrap;align-items:center; color:#e4fdff;font-size:14px;line-height:40px;height:40px;box-sizing: border-box;padding-left:30px;border-bottom: 2px solid #004863;cursor: pointer;}
.h_history-left ul li img{width:26px;height:auto;margin-right:10px;}
.history-bg1{background-image: linear-gradient(to right, #3f9bcc , #165f86);}
.h_history-right{width:76%;margin-top: 1%;color:#e4fdff;font-size:14px;height:100%;margin:0px 2% 0px 2%;}
.h_scheme1{height:100%;position:relative;}
.h_cx-btn{padding:15px 0 25px 5px;background-clip: padding-box, border-box;background-origin: padding-box, border-box;background-image: linear-gradient(90deg, #051a30, #051a30), linear-gradient(90deg, #05192f, #00ccff);border-bottom: 2px transparent solid;position:relative;}
.h_cx-btn .cx-btn1 input{-webkit-appearance: radio;border-radius: 0 !important;cursor: pointer;}
.h_cx-btn .cx-btn1 input:checked{background:red;}
.h_addPparent{display:flex;justify-content: flex-start;align-items: center;margin-top:20px;}
.h_addPparent button{cursor:pointer; height:35px;color: #e4fdff;border:none;background: #01a7d3;font-weight: 400;font-size: 14px;padding:0px 10px;margin-left:10px;outline:none;}
.searchTit{display:inline-block;}
.h_table-box{font-size:14px;position:absolute;z-index:1;top:117px;left:0;bottom:10px;right:0px;overflow-y: auto;}
.h_table-box table{border: 1px solid #00ccff;width: 100%;text-align: center;border-radius: 4px 4px 0 0;border-collapse: collapse;box-sizing: border-box;font-size: 12px;}
.h_table-box table thead tr th{height: 35px;line-height: 35px;border:1px solid #32a2c2;min-width:100px;}
.h_table-box table thead{background: #25596f;color: #e4fdff;height: 35px !important;}
.h_table-box table tbody tr td{height: 35px !important;line-height: 35px;min-width:100px; border-right:1px solid #32a2c2;color: #e4fcfe;}
.h_table-box table tbody tr:nth-child(odd){background: transparent;}
.h_table-box table tbody tr:nth-child(even){background:#657885 ;}
.searchBox{height:35px;width:200px;border:2px solid #01b5e3;margin-left:10px;box-sizing: border-box;}
.searchBox input{width:100%;height:100%;box-sizing: border-box;padding:0px 5px;background-color:rgba(0,0,0,0);border:none;color:#FFFFff;}
.moreDevice{width:100%;overflow-y:scroll;}


.h_titleIcoParent{display:flex;justify-content: flex-start;line-height:20px;}
.h_titleIco{width: 24px;height: 15px;background: #00ccff;margin:3px 10px 0px -17px;}
.sysRadio .el-radio-group .el-radio{color:#FFFFFF;}
.eidt img {width: 15px;margin: 0px 5px;cursor: pointer;}
.exexlTipBoxPar{display: flex;flex-wrap: nowrap;}
.exexlTipBox{width:50%;box-sizing: border-box;}
.exexlTipBox i{cursor:pointer;display:block;width:18px;height:18px;border-radius:50%;border:2px solid #00A9D4;float: left;margin-right:5px;}
.exexlTipBox i span{display:block;width:14px;height:14px;border-radius:50%;float: left;margin:2px;}
.exexlTipBox p{line-height:25px;height:25px;}
.exexlSelect{background-color:#00FFFF!important;}
.exTipTxt{font-size:12px;color:#d28b1b;line-height:14px!important;margin-top:10px!important;}
.h_loadingClass{font-size:40px;}
.his_Picker{min-height:35px;width:300px;margin-left:10px;}
.his_Picker .el-input__inner{width:100%; height:35px;background-color: rgba(0,0,0,0);color:#FFFFFF;border: 2px solid #01b5e3;border-radius: 0px;}
.his_Picker .el-range-input{background-color: rgba(0,0,0,0);color:#FFFFff;}
.his_Picker .el-range__icon{line-height:25px!important;}
.his_Picker .el-range__close-icon{line-height:25px!important;}
.his_Picker .el-range-separator{line-height:25px!important;width:20px!important;}

.his-daviceSelect{margin-left:10px;width:112px;}
.maxTip{width:100%;font-size:12px;height:12px;text-align:center;color:#22f5f7;position:absolute;z-index:1;bottom:0;left:0;right:0;}

.sysCascader{min-height:25px;display:flex;justify-content:space-between;}
.sysCascader .el-cascader {display: inline-block;position: relative;font-size: 12px;line-height: 24px;width:100%;}
.sysCascader .el-input {position: relative;font-size: 12px;display: inline-block;width: 100%;}
.sysCascader .el-input__inner {border: 2px solid #01b5e3;border-radius: 0px;height: 35px;line-height: 35px;background-color:rgba(0,0,0,0);padding: 0 10px;color:#FFFFFF;}
.sysCascader .el-input__icon{line-height:25px;color:#01b5e3;}
.s_myCascader{background:rgba(7,25,45,0.8);border:none;}
.s_myCascader .el-cascader-menu{color:#FFFFFF;}
.s_myCascader .el-scrollbar__view li:hover{background:#00FFFF!important;}
.s_myCascader .in-active-path,.s_myCascader .is-active{background:#00FFFF!important;}
.s_myCascader .popper__arrow::after{border-bottom-color: #041423!important;}
.s_myCascader .el-cascader-menu{min-width:140px!important;}
.s_myCascader .el-cascader-node{padding:0px 20px 0px 10px!important;}
.s_myCascader .el-cascader-node__prefix{left:4px!important;}
.s_myCascader .el-icon-arrow-right,.s_myCascader .el-icon-check{line-height:34px!important;}
[v-cloak] {display: none;}
.mySelectAll{width:100%;}
.mySelectAll .el-input__inner,.schemePut{width:100%;border: 2px solid #01b5e3;border-radius: 0px;height: 35px;line-height: 35px;background-color:rgba(0,0,0,0);padding: 0 10px;color:#FFFFFF;}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {
.h_addPparent{padding-left:10px;}
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
.h_addPparent{padding-left:10px;}
}

@media screen and (min-width: 1300px and max-width:1399px) {
.h_addPparent{padding-left:10px;}
}
@media screen and (min-width: 1400px and max-width:1600px) {
.h_addPparent{padding-left:10px;}
}
@media screen and (min-width: 1601px) {
  .h_addPparent{padding-left:40px;}
}
